<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Panucci's Pizza</title>
    <div data-th-replace="~{fragments/bootstrap.html :: css}"></div>
</head>

<body>
    <div data-th-replace="~{fragments/bootstrap.html :: js}"></div>
    <div class="container">
        <h2>Delivery Details</h2>
        <div data-th-object="${order}">
            Order Number: <a data-th-href="@{'/order/' + *{orderId}}" data-th-text="*{orderId}"></span><br>
            Your order will be delivered to <span data-th-text="*{address}"></span><br>
            Pizza cost: <span data-th-text="${pizzaCost}"></span><br>
            <span data-th-if="*{rush}"><span data-th-text="@{'Rush: $2'}"></span><br></span>
            Total cost: <span data-th-text="${totalCost}"></span>
        </div>
    </div>
</body>

</html>